<header>
  <ng-container
    *ngIf="initialCurrencyRate$ | async as currencyRate; else loading">
    <p class="currency-description mr-10">Rate of {{defaultCurrencyLabel}}: </p>
    <ul class="currency-list">
      <li
        class="currency-list__item"
        *ngFor="let currencyCode of convertToCurrencies">
        {{currencyCode}}
        <b>{{currencyRate[currencyCode]}}</b>
      </li>
    </ul>
  </ng-container>
</header>

<h1 class="text-center mt-20">Currency rates</h1>

<app-currency-rates></app-currency-rates>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
